*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    background-image: url(background-images-for-login-form-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 68vh;
    background-position: center;
}
form {
   background: #0724a6;
background: linear-gradient(84deg, rgba(7, 36, 166, 1) 27%, rgba(0, 212, 255, 1) 100%);

    
    border-radius: 3%;
    border-width: 3px;
    padding: 10px;
    margin: 295px 0px 0px 50px;
    width: 300px;
    height: 300px;
    padding-left: 50px;
    padding-top:35px;
    
}
input {
    border-radius: 10px;
    height: 30px;
    width: 199px;

}
button {
    background: #00b4f0;
background: radial-gradient(circle, rgba(0, 180, 240, 1) 1%, rgba(104, 117, 117, 1) 100%);
width: 180px;
color: white;
border-radius: 10px;
height: 30px;
width: 199px;
}
input:hover {
    border-color: black;
    cursor: pointer;
}
a:hover {
    text-decoration: underline white;
    cursor: pointer;
}
a {
    color: white;
}
h1 {
    padding-left: 50px;
}
button:hover {
    cursor: pointer;

}
.signup {
   background: #0724a6;
background: linear-gradient(84deg, rgba(7, 36, 166, 1) 27%, rgba(0, 212, 255, 1) 100%);
    
    border-radius: 3%;
    border-width: 3px;
    
    margin: 295px 0px 0px 50px;
    width: 300px;
    height: 500px;
    padding-left: 20px;
    padding-top:35px;
    padding-right: 20px;
}

.put {
    width: 20px;
    height: 12px;

}
.width {
    width: 250px;
}
p {
    text-align: center;
}
.but {
    text-align: center;
}